@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;
  --bg-color: #f0f0f5;
  --primary-color: #e02041;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: 0;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 400 14px var(--font-family);
  background-color: var(--bg-color);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

ul[class],
ol[class] {
  list-style: none;
  list-style-type: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
}

form input {
  width: 100%;
  height: 60px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 0 24px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
}

form textarea {
  width: 100%;
  resize: vertical;
  min-height: 140px;
  color: #333;
  border: 1px solid #dcdce6;
  border-radius: 8px;
  padding: 16px 24px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2) inset;
  line-height: 24px;
}

form input,
form textarea {
  border: 2px solid transparent;
  transition: border 0.2s ease-in-out;
}

form input:focus,
form textarea:focus {
  border: 2px solid var(--primary-color);
}

.button {
  width: 100%;
  height: 60px;
  background: var(--primary-color);
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  font-size: 18px;
  line-height: 60px;
  transition: filter 0.4s ease-in-out;
}

.button:hover {
  filter: brightness(90%);
}

.back-link {
  display: flex;
  align-items: center;
  margin-top: 40px;
  color: #41414d;
  font-size: 18px;
  font-weight: 500;
  transition: opacity 0.2s;
}

.back-link svg {
  margin-right: 8px;
}

.back-link:hover {
  opacity: 0.8;
}
